* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #d38312;
  background: -webkit-linear-gradient(120deg, #a83279, #d38312);
  background: linear-gradient(120deg, #a83279, #d38312);
  color: white;
  font-family: "poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.3rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  background: white;
  font-size: 2rem;
  border: none;
}
form button {
  color: #d38312;
  background: white;
  cursor: pointer;
  transition: all 300ms ease-in;
}
form button:hover {
  background: #d38312;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  background: white;
  color: black;
  font-size: 1.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}
.complete-btn,
.trash-btn {
  padding: 1rem;
  background: #a83279;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
}
.complete-btn {
  background: rgb(52, 227, 52);
}
.trash-btn {
  background: rgb(186, 11, 11);
}
.todo-item {
  padding: 0rem 0.8rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
.error {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: none;
  outline: none;
}
.select {
  margin: 1rem;
  overflow: hidden;
  position: relative;

  cursor: pointer;
}
select {
  color: #d38312;
  padding: 1rem;
  width: 10rem;
  cursor: pointer;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: #a83279;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
}

@media screen and (max-width: 606px) {
  header {
    font-size: 0.9rem;
  }
  header,
  form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    padding: 0.5rem;
    background: white;
    font-size: 1rem;
    border: none;
  }
  .todo {
    background: white;
    color: black;
    font-size: 1rem;
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }
  .complete-btn,
  .trash-btn {
    padding: 0.7rem;
    background: #a83279;
    font-size: 0.7rem;
    color: white;
    border: none;
    cursor: pointer;
  }
  .complete-btn {
    background: rgb(52, 227, 52);
  }
  .trash-btn {
    background: rgb(186, 11, 11);
  }
  .todo-item {
    padding: 0rem 0.3rem;
  }
  .select {
    margin: 1rem;
    overflow: hidden;
    position: relative;

    cursor: pointer;
  }
  select {
    color: #d38312;
    padding: 0.2rem;
    width: 7rem;
    cursor: pointer;
  }
  .select::after {
    content: "\25BC";
    position: absolute;
    background: #a83279;
    top: 0;
    right: 0;
    padding: 0.1rem;
    pointer-events: none;
  }
}
